.stock-return-calc-app {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}

div.table-1 {
  background-color: #000 !important;
  color: #fff !important;
  display: inline-flex !important;
}

table tbody tr:hover>td, table tbody tr:hover>th {
  background-color: unset !important;
}

tr, table {
  border: unset !important;
}

div.table-1, div.table-2>table {
  padding: 10px 20px;
  display: inline-flex;
  margin-bottom: unset !important;
  border: unset !important;
  width: unset !important;
  margin-bottom: unset !important;
  font-size: unset !important;
  border-spacing: unset !important;
  border-collapse: unset !important;
}

td.stock-return-calc-td {
  padding: 5px 20px !important;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  background-color: unset !important;
  border: unset !important;
}

input.stock-return-calc-input {
  padding: 5px;
  color: #000;
  font-family: Arial;
  font-size: 12.00pt;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}